@using RazorViews.Models;

@model CityWeather;

<div class="box">
    <h2>@Model.CityName</h2>
    <h4>@Model.Temparature degrees</h4>
    <h4>Last Updated at @Model.DateAndTime</h4>

    <a href="/weather" class="link">Back to All Cities</a>
</div>
