<div class="list-container">
    <h2>Cities</h2>
    <div class="box">
        <ul class="list">
            <li>Hyderabad</li>
            <li>Vijayawada</li>
            <li>Nellore</li>
        </ul>
    </div>
</div>