<h1>Index</h1>
<h2>@ViewBag.Title</h2>
@{
    var customViewData = new ViewDataDictionary(ViewData);
    customViewData["Title"] = "Custom View Data Title";
}
@* <partial name="_CityList" view-data = "customViewData"></partial> *@
@{
    await Html.RenderPartialAsync("_CityList", customViewData);
}
<h2>Title After Partial View: @ViewBag.Title</h2>